#msg_box {
  font-family: 'Roboto', sans-serif;
  position:relative;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.6);
  background: #fff;
  color: #4c4c4c;
  width: 25%;
  height: auto;
  float: right;
  padding: 15px;
  z-index: 100;
  /*display: none;*/
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 99%;
    height: 24px;
}

.fa {
  float: right;
  color: #106fbf;
  cursor: pointer;
}

.fa:hover {
  color: red;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
  cursor: pointer;
}
