#msg_wrapper {
  position: absolute;
  right: 0;
  width: 40%;
  overflow: hidden;
}

.msg_box {
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.6);
  background: rgba(3, 3, 3, 0.8);
  color: #fff;
  width: 50%;
  height: auto;
  float: right;
  margin: 10px;
  padding: 15px;
  z-index: 1000;
  position: relative;
  display:table;
  cursor: pointer;
}


.msg_box:hover {
  inner
  color: red;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 99%;
    height: 24px;
}
